@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
  font-family: Outfit;
}

a.active{
  background: rgb(89, 88, 88);
  color: white;
}

.black{
  background-color: dimgray;
  color: white;
}

@media screen and (max-width:640px){
  a.active{
    background:rgb(121, 120, 120);
  color: white;
  }
}